* {
    box-sizing: border-box;
    /* border: 1px solid green; */
    font-family: 'Open Sans', Verdana, Arial, sans-serif; 
    font-size: 30px;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: block;
}

body {
    margin: 0;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.hidden {
    visibility: hidden;
}

/* Position Classes */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.left__corner {
    top: 0;
    left: 0;
}

/* Z-index */
.z1 {
    z-index: 1;
}

.z2 {
    z-index: 2;
}

/* ID specific */
#typing__box {
    margin-top: -1px;
}

/* Text Colors */
.colorComment {
    color: #6a9955;
}

.colorLanguage {
    color: #569CD6;
}

.colorRegex {
    color: #646695;
}

.colorNumeric {
    color: #b5cea8;
}

.colorClass {
    color: #4ec9b0;
}

.colorReturn {
    color: #C586C0;
}

.colorType {
    color: #007acc;
}

.colorMethod {
    color: #D7BA7D;
}

/* vscode background*/
.darkbgd1{
    background-color: #1e1e1e;
}

.darkbgd2 {
    background-color: #252526;
}

.darkbgd3 {
    background-color: #2d2d30;
}

.darkbgd4 {
    background-color: #3e3e42;
}

/* Div Specifics */
.word {
    color: #3e3e42;
    margin: 8px;
}

.line {
    display: flex;
}

.tab {
    white-space: pre;
}

/* Flex */

.rowWrap {
    flex-flow: wrap;
}

.lineBreak {
    flex-grow: 1;
}

/* Letter Specific */
.correct {
    color: #c8c8c8;
}

.incorrect {
    color: red;
}

.styleIncorrect {
    color: orange;
}